<!-- <div class="container-fluid Support ">
    <h1 class="text-center">Support</h1><br/><br/>

    <div class="box mb-2 ">
        <h1>Call</h1>
    </div>
    <div class="box m-3 ">
        <h1>Email</h1>
    </div>
    <div class="box ">
        <h1></h1>
    </div>

    <h1 class="text-center">FAQ</h1><br/><br/>

</div>
 -->


<div class="container-fluid Support ">

    <div class="row " >

    <div class="box mb-2 mt-2 mr-3 bg-info  ">
        <h1 >Call <i class="bi bi-telephone-inbound-fill"></i></h1>
    </div>
   
    <div class="box mb-2 mt-2 bg-info ">
        <h1>Chat<i class="bi bi-chat-left-text-fill"></i></h1>
    </div>
    
    <div class="box mb-2 mt-2 bg-info ">
        <h1>Email <i class="bi bi-envelope-at-fill"></i></h1>
    </div>

    

</div>
</div>