  <div class="container  login">

    <div class="imagediv">
      <!-- <h1>imgae</h1> -->
      <img src="assets\images\.jpg" width="100%" height="600px" alt="not">
    </div>


    <div class="loginmain">
    <!-- <h2 class="text-center">{{title}}</h2> -->
   
    <form class="text-center" #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
      <h2 class="text-center">{{title}}</h2>
      <h6 class="text-center">Enter your Credentials below.</h6>
      <input  type="email" placeholder="Enter your eamil " name="eamil" ngModel>
      <br>
      <br>
      <input type="password" placeholder="Enter your password " name="name" ngModel>
      <br>
      <br>
    <button click="userLogin()">submit</button> 
    <br> 
    </form>
  </div>
    



  </div>
  
