<div class="container-fluid buyiphone bg-info">

    <div class="container">
        <div class="content bg-success ">
            <div class="row">
           
            
            
            
            <div (click)="navigateToSecond()" class="buynow  ">
                <!-- <h1>iphone</h1> -->
                <!-- <button>Oder</button> -->
                <img src="assets\images\iphones14.jpg" width="100%" height="200px" alt="not">
                
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            
        </div>
        
    </div>
</div>
    
    

</div>