<div class="container-fluid buyiphone bg-info">

    <div class="container">
        <div class="content bg-success ">
            <div class="row">
           
            
            
            
            <div (click)="navigateToSecond()" class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            
        </div>
        
    </div>
</div>
    
    

</div>