<div class="container-fluid buyiphone bg-info">

    <div class="container  ">
        <!-- <div class="row">
          <div class="col-3 bg-info">
            <h1>ok</h1>
          </div>
          <div class="col-6 bg-info">
            <h1>ok</h1>
          </div>

          <div class="col-6 bg-info">
            <h1>ok</h1>
          </div>
          <div class="col-6 bg-info">
            <h1>ok</h1>
          </div>
        </div> -->

        <div class="content bg-success ">
            <div class="row">
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>

            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            <div class="buynow bg-info ">
                <h1>iphone</h1>
                <button>buy</button>
            </div>
            
            
        </div>
        
    </div>
</div>
    
    

</div>