<!-- <div class="container-fluid Support ">


    <div class="box mb-2  bg-info ">
        <h1>Chager</h1>
    </div>
    <div class="box m-3 bg-info">
        <h1>PnoneCover</h1>
    </div>
    <div class="box bg-info ">
        <h1>PhoneTampared</h1>
    </div>

    <h1 class="text-center">FAQ</h1><br/><br/>

</div> -->


<div class="container-fluid accessories ">

    <div class="row " >

    <div class="box mb-2 mt-2 mr-3 bg-info  ">
        <h1 >Chager</h1>
    </div>
   
    <div class="box mb-2 mt-2 bg-info ">
        <h1>Cover</h1>
    </div>
    
    <div class="box mb-2 mt-2 bg-info ">
        <h1>Tampared</h1>
    </div>

</div>
</div>